<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="logo.png" type="image/x-icon" />

    <link rel="stylesheet" href="/styles.css" />
    <title>წიგნიერი-მეორადი წიგნების მარკეტი</title>
    <meta
      name="description"
      content="მეორადი წიგნების ყიდვა გაყიდვის ქართული მარკეტი. მოძებნე იყიდე და გაყიდე წიგნები მარტივად "
    />
  </head>
  <body>
    <header>
      <a href="/">
        <img class="logo" src="logo.png" alt="" />
      </a>
      <div class="search-input-dropdown">
        <div class="search-dropdown">
          <% if (user) { %>
          <div class="user-menu">
            <p>
              გამარჯობა, <%= user.username %>! <br />
              <span>&nabla;</span>
            </p>

            <div class="user-options">
              <a href="/logout">გამოსვლა</a>
              <a href="/add-book">წიგნის დამატება</a>
              <a href="/my-books">ჩემი წიგნები</a>
              <a href="/about">საიტის შესახებ</a>
            </div>
          </div>
          <% } else { %>
          <a href="/login">შესვლა</a>
          <a href="/register">რეგისტრაცია</a>
          <a href="/about">საიტის შესახებ</a>

          <% } %>
        </div>
        <div class="search" style="margin: 0px; padding: 0px">
          <input
            type="text"
            id="search-input"
            placeholder="წიგნის ავტორი ან სახელი"
          />
          <button
            style="background: none; border: none"
            onclick="searchBooks()"
          >
            <img class="search-img" src="/search.png" alt="" />
          </button>
        </div>
      </div>
    </header>
    <section class="book-content">
      <h1>შეავსე ფორმა</h1>
      <form
        class="form"
        action="/add-book"
        method="POST"
        enctype="multipart/form-data"
      >
        <!-- Error Alert -->
        <% if (errors && errors.length > 0) { %>
        <div class="error-alert">
          <ul>
            <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>

        <div>
          <label for="title">სახელი:</label>
          <input type="text" id="title" name="title" required maxlength="25" />
        </div>
        <div>
          <label for="author">ავტორი:</label>
          <input
            type="text"
            id="author"
            name="author"
            required
            maxlength="25"
          />
        </div>
        <div>
          <label for="genre">ჟანრი:</label>
          <select name="genre" id="genre">
            <option value="klasika">კლასიკა</option>
            <option value="deteqtivi">დეტექტივი</option>
            <option value="samecniero">სამეც. ფანტასტიკა</option>
            <option value="satavgadasavlo">სათავგადასავლო</option>
            <option value="poezia">პროზა/პოეზია</option>
            <option value="istoriuli">ისტორიული</option>
            <option value="saswavlo">სასწავლო</option>
            <option value="sabavshvo">საბავშვო</option>
            <option value="sxva">სხვა</option>
          </select>
        </div>
        <div>
          <label for="price">ფასი: </label>
          <input type="text" id="price" name="price" required />
        </div>
        <div>
          <label for="language">წიგნის ენა:</label>
          <input
            type="text"
            id="language"
            name="language"
            required
            maxlength="20"
          />
        </div>

        <div>
          <label for="description">დამატებითი ინფორმაცია:</label><br />
          <textarea
            rows="7"
            cols="50"
            id="description"
            name="description"
            required
            maxlength="500"
          ></textarea>
        </div>
        <div>
          <label for="photo">წიგნის ფოტო:</label>
          <input
            type="file"
            id="photo"
            name="photo"
            accept="image/*"
            required
          />
        </div>
        <button type="submit">წიგნის დამატება</button>
      </form>
      <p><a href="/">მთავარზე დაბრუნება</a></p>
    </section>
  </body>
</html>
