<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Add Book</title>
  </head>
  <body>
    <header>
      <a href="/">
        <img class="logo" src="logo.png" alt="" />
      </a>
      <div style="display: flex; align-items: center; gap: 2rem">
        <a href="/about">საიტის შესახებ</a>

        <% if (user) { %>
        <div class="user-menu">
          <p style="color: aliceblue; text-align: center">
            გამარჯობა, <%= user.username %>! <br />
            <span>&nabla;</span>
          </p>

          <div class="user-options">
            <a href="/logout">გამოსვლა</a>
            <a href="/add-book">წიგნის დამატება</a>
            <a href="/my-books">ჩემი წიგნები</a>
          </div>
        </div>
        <% } else { %>
        <a href="/login">შესვლა</a>
        <a href="/register">რეგისტრაცია</a>
        <% } %>
        <input type="text" id="search-input" placeholder="Search books..." />
        <button onclick="searchBooks()">Search</button>
      </div>
    </header>
    <section class="book-content">
      <h1>შეავსე ფორმა</h1>
      <form
        class="form"
        action="/add-book"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <label for="title">სახელი:</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div>
          <label for="author">ავტორი:</label>
          <input type="text" id="author" name="author" required />
        </div>
        <div>
          <label for="genre">ჟანრი:</label>
          <select name="genre" id="genre">
            <option value="klasika">კლასიკა</option>
            <option value="deteqtivi">დეტექტივი</option>
            <option value="samecniero">სამეც. ფანტასტიკა</option>
            <option value="satavgadasavlo">სათავგადასავლო</option>
            <option value="poezia">პროზა/პოეზია</option>
            <option value="istoriuli">ისტორიული</option>
            <option value="saswavlo">სასწავლო</option>
            <option value="sabavshvo">საბავშვო</option>
            <option value="sxva">სხვა</option>
          </select>
        </div>
        <div>
          <label for="price">ფასი: </label>
          <input type="text" id="price" name="price" required />
        </div>
        <div>
          <label for="language">წიგნის ენა:</label>
          <input type="text" id="language" name="language" required />
        </div>

        <div>
          <label for="description">დამატებითი ინფორმაცია:</label><br />
          <textarea
            rows="7"
            cols="50"
            id="description"
            name="description"
            required
          ></textarea>
        </div>
        <div>
          <label for="photo">წიგნის ფოტო:</label>
          <input
            type="file"
            id="photo"
            name="photo"
            accept="image/*"
            required
          />
        </div>
        <button type="submit">წიგნის დამატება</button>
      </form>
      <p><a href="/">მთავარზე დაბრუნება</a></p>
    </section>
  </body>
</html>
