<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Login</title>
  </head>

  <body>
    <header>
      <a href="/">
        <img class="logo" src="logo.png" alt="" />
      </a>
      <div class="search-input-dropdown">
        <div class="search-dropdown">
          <% if (user) { %>
          <div class="user-menu">
            <p>
              გამარჯობა, <%= user.username %>! <br />
              <span>&nabla;</span>
            </p>

            <div class="user-options">
              <a href="/logout">გამოსვლა</a>
              <a href="/add-book">წიგნის დამატება</a>
              <a href="/my-books">ჩემი წიგნები</a>
              <a href="/about">საიტის შესახებ</a>
            </div>
          </div>
          <% } else { %>
          <a href="/login">შესვლა</a>
          <a href="/register">რეგისტრაცია</a>
          <a href="/about">საიტის შესახებ</a>

          <% } %>
        </div>
        <div class="search" style="margin: 0px; padding: 0px">
          <input
            type="text"
            id="search-input"
            placeholder="წიგნის ავტორი ან სახელი"
          />
          <button
            style="background: none; border: none"
            onclick="searchBooks()"
          >
            <img class="search-img" src="/search.png" alt="" />
          </button>
        </div>
      </div>
    </header>
    <section>
      <form class="form" action="/login" method="POST">
        <h1>შეავსეთ ფორმა</h1>

        <div>
          <label for="username">სახელი:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div>
          <label for="password">პაროლი:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Login</button>
        <p>
          ჯერ არ ხარ ჩვენიანი?
          <a href="/register" style="color: rgb(108, 123, 255)"
            >დარეგისტრირდი</a
          >
        </p>
      </form>
    </section>
  </body>
</html>
