<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Register</title>
  </head>
  <body>
    <header>
      <a href="/">
        <img class="logo" src="logo.png" alt="" />
      </a>
      <div>
        <a href="/about">საიტის შესახებ</a>

        <% if (user) { %>
        <div class="user-menu">
          <p style="color: aliceblue; text-align: center">
            გამარჯობა, <%= user.username %>! <br />
            <span>&nabla;</span>
          </p>

          <div class="user-options">
            <a href="/logout">გამოსვლა</a>
            <a href="/add-book">წიგნის დამატება</a>
            <a href="/my-books">ჩემი წიგნები</a>
          </div>
        </div>
        <% } else { %>
        <a href="/login">შესვლა</a>
        <a href="/register">რეგისტრაცია</a>
        <% } %>
        <div style="margin: 0px; padding: 0px">
          <input type="text" id="search-input" placeholder="Search books..." />
          <button
            style="background: none; border: none"
            onclick="searchBooks()"
          >
            <img class="search-img" src="/search.png" alt="" />
          </button>
        </div>
      </div>
    </header>
    <section>
      <form class="form" action="/register" method="POST">
        <h1>შეავსეთ ფორმა</h1>

        <div>
          <label for="username">სახელი:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div>
          <label for="password">პაროლი:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div>
          <label for="phone">ტელეფონის ნომერი:</label>
          <input type="text" id="phone" name="phone" required />
        </div>
        <button type="submit">რეგისტაცია</button>
        <p>
          უკვე ჩვენიანი ხარ?
          <a href="/login" style="color: rgb(108, 123, 255)"
            >შედი შენს გვერდზე</a
          >
        </p>
      </form>
    </section>
  </body>
</html>
